<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/vue.js"></script>
        <title>Vue.Js</title>
    </head>
    <body>
        <div id="app1">
            <!-- Two way databind -->
            <input v-model.lazy="name" />
            <!-- One way databind -->
            <input :value="email" />
            <br />
            <p>Name: {{name}}</p>
            <p>Email: {{email}}</p>
        </div>
        <div id="app2">
            <input type="checkbox" id="subscribe" v-model="subscribe" />
            <label for="subscribe"> Subscribe your Email</label>
            <br />
            {{subscribe}}
        </div>
        <div id="app3">
            <input
                type="radio"
                name="red"
                id="red"
                v-model="color"
                value="red"
            />
            <label for="red"> Red </label>
            <input
                type="radio"
                name="green"
                id="green"
                v-model="color"
                value="green"
            />
            <label for="green"> Green </label>
            <input
                type="radio"
                name="blue"
                id="blue"
                v-model="color"
                value="blue"
            />
            <label for="blue"> Blue </label>
            <br />
            {{color}}
        </div>
        <br />
        <div id="app4">
            <select v-model="color">
                <option disable value=""> Pick a color</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="grey">Grey</option>
                <option value="black">Black</option>
            </select>
            <br />
            {{color}}
        </div>
    </body>

    <script>
        const vm1 = new Vue({
            el: '#app1',
            data: {
                name: 'Thales',
                email: 'thales@email.com'
            },
            methods: {}
        });
        const vm2 = new Vue({
            el: '#app2',
            data: {
                subscribe: true
            },
            methods: {}
        });
        const vm3 = new Vue({
            el: '#app3',
            data: {
                color: ''
            }
        });
        const vm4 = new Vue({
            el: '#app4',
            data: {
                color: ''
            }
        });
    </script>
</html>
