<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../../vue.js"></script>
        <title>Vue.Js</title>
    </head>

    <style>
        label {
            display: block;
        }
        a {
            display: block;
        }
    </style>

    <body>
        <div id="app1">
            <a :style="btn" href="">Click Here</a>
            <br />
            <form>
                <label for="width"> Width </label
                ><input type="text" v-model="btn.width" />
                <br />
                <label for="height"> Height </label
                ><input type="text" v-model="btn.height" />
                <br />
                <label for="fontSize"> Font Size </label
                ><input type="text" v-model="btn.fontSize" />
                <br />
                <label for="fontFamily"> Font Family </label
                ><input type="text" v-model="btn.fontFamily" />
                <br />
                <label for="textAlign"> Text Align </label
                ><input type="text" v-model="btn.textAlign" />
                <br />
                <label for="background"> Background </label
                ><input type="color" v-model="btn.background" />
                <br />
                <label for="color"> Color </label
                ><input type="color" v-model="btn.color" />
                <br />
                <label for="borderRadius"> Border Radius </label
                ><input type="text" v-model="btn.borderRadius" />
            </form>
        </div>
        <br />
        <br />
        <div id="app2">
            <form>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" v-model="name" />
                <label for="email">Email</label>
                <input type="email" name="email" id="email" v-model="email" />
                <label for="telephone">Telephone</label>
                <input
                    type="text"
                    name="telephone"
                    id="telephone"
                    v-model="telephone"
                />
                <label for="message">Message</label>
                <textarea
                    name="message"
                    id="message"
                    v-model="message"
                ></textarea>
                <input type="submit" @click.prevent="sendForm" />
            </form>
            <div>
                <ul>
                    <li v-for="data,key in result">{{key}}: {{data}}</li>
                </ul>
            </div>
        </div>
    </body>

    <script>
        const vm1 = new Vue({
            el: '#app1',
            data: {
                btn: {
                    width: '100px',
                    height: '40px',
                    fontSize: '20px',
                    fontFamily: 'monosapce',
                    textAlign: 'left',
                    background: 'white',
                    color: 'black',
                    borderRadius: '0px'
                }
            },
            methods: {}
        });

        const vm2 = new Vue({
            el: '#app2',
            data: {
                name: '',
                email: '',
                telephone: '',
                message: '',
                result: {}
            },
            methods: {
                sendForm() {
                    this.result = {
                        name: this.name,
                        email: this.email,
                        telephone: this.telephone,
                        message: this.message
                    };
                }
            }
        });
    </script>
</html>
