<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/vue.js"></script>
        <title>Vue.Js</title>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="state in states">
                    {{state.name}}: {{state.population}}
                </li>
            </ul>
            <ul>
                <li
                    v-for="({name, population}, key) in states"
                    :key="key + name"
                >
                    {{name}}: {{population}}
                </li>
            </ul>
            <br />
            <ul>
                <li v-for="n in 10">
                    {{n}}
                </li>
            </ul>

            <ul>
                <li v-for="course in summerCourses">{{course}}</li>
            </ul>
            <button @click="removeItem">Remove</button>
            <button @click="changeItem">Change</button>
        </div>
    </body>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                summerCourses: [
                    'HTML',
                    'CSS',
                    'Javascript',
                    'Vue',
                    'Wordpress',
                    'React'
                ],
                states: {
                    sp: {
                        population: '45 M',
                        name: 'São Paulo'
                    },
                    mg: {
                        population: '21 M',
                        name: 'Minas Gerais'
                    },
                    rj: {
                        population: '17 M',
                        name: 'Rio de Janeiro'
                    }
                }
            },
            methods: {
                removeItem() {
                    this.summerCourses.pop();
                },
                changeItem() {
                    //Reactive
                    this.$set(this.summerCourses, 0, 'Python');
                    //Non Reactive
                    //this.summerCourses[0] = 'Python';
                }
            }
        });
    </script>
</html>
