<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../../vue.js"></script>
        <title>Vue.Js</title>
    </head>
    <body>
        <div id="app">
            <div v-for="course in courses">
                <h1>
                    <a :href="course.link">{{course.curso}}</a>
                </h1>
                <ul>
                    <li v-for="{nome , tempo} in course.aulas">
                        {{nome}}: {{tempo}}
                    </li>
                </ul>
            </div>
            <button @click="getClass">GET Class</button>
        </div>
    </body>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                courses: {}
            },
            methods: {
                getClass() {
                    fetch('./courses.json')
                        .then(r => r.json())
                        .then(r => {
                            this.courses = r;
                        });
                }
            }
        });
    </script>
</html>
