<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../../vue.js"></script>
        <title>Vue.Js</title>
    </head>
    <body>
        <div id="app">
            <button @click="getCountries">GET countries</button>
            <br />
            <select name="countries" id="countries" v-model="selection">
                <option v-for=" country in countries" :value="country.name">
                    {{country.name}}
                </option>
            </select>
            {{capital}}
        </div>
    </body>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                selection: '',
                capital: '',
                countries: {}
            },
            methods: {
                getCountries() {
                    fetch('http://restcountries.eu/rest/v2/all')
                        .then(r => r.json())
                        .then(r => {
                            this.countries = r;
                        });
                }
            },
            computed: {},
            watch: {
                selection(data) {
                    this.capital = this.countries.find(
                        country => country.name === data
                    ).capital;
                }
            }
        });
    </script>
</html>
